<%= form_for(@post, :html => { :multipart => true }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>商品を投稿しましょう</p>

    goods
    <% @post.products.each do |product| %>
      <%= f.fields_for :products, product do |product_field| %>
        <%= product_field.collection_select :id, @products, :id, :goods_name %>
      <% end %>
    <% end %>
    <br>
    <%= f.label :content %>
    <%= f.text_field :content %>
    <br>

    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
