<%= form_for(@post, :html => { :multipart => true }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>商品を投稿しましょう</p>

    goods<br>
    <%# @post.products.each do |product| %>
      <%#= f.fields_for :products, product do |product_field| %>
        <%#= product_field.select @products, :id, :goods_name, include_blank: true %>
      <%# end %>
    <%# end %>

    <% @post.products.each do |product| %>
      <%= f.fields_for "products_attributes[]", product do |product_field| %>
        <%= product_field.label :goods_name %>
        <%= product_field.text_field :goods_name %>
        <br>
        <%= product_field.label :brand_id %>
        <%= product_field.select :brand_id, @brands.map{|t| [t.name, t.id]}, include_blank: true %>
        <br>
        <%= product_field.label :child_category_id %>
        <%= product_field.select :child_category_id, @child_categories.map{|t| [t.name, t.id]}, include_blank: true %>
        <br>
        <%= product_field.label :image %>
        <% if product.image? %>
          <%= image_tag product.image_url(:thumb).to_s %>
          <%= f.hidden_field :image_cache if @user.image_cache %>
        <% end %>
        <%= f.file_field :image %>


        <%#= f.select :brand_id, @brands.map{|t| [t.name, t.id]} %>
        <br>
        <br>
        <br>
      <% end %>
    <% end %>

    <%#= f.fields_for :entries do |entry| %>
      <%#= render "entry_fields", f: entry %>
    <%# end %>

    <br>
    <%= f.label :content %>
    <%= f.text_field :content %>
    <br>

    <%= f.label :image %>
    <%= f.file_field :image %>
    <%#= f.hidden_field :user_id, :current_user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
