<%= form_for(@post, :html => { :multipart => true }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>商品を投稿しましょう</p>
    category
    <%= f.collection_select :category_id, @categories, :id, :name %> <br>

    goods
    <%= f.collection_select :product_id, @products, :id, :goods_name %> <br>
    <%= f.label :content %><br>
    <%= f.text_field :content %>

    <%# image_tag @posts.photo.url if @posts.photo.present? %>  
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>