<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <br>
  <%= @post.content %><br>
  <%= image_tag @post.image_url.to_s %>
</p>
<p>
  <% @post.products.each do |product| %>
    <%= product.goods_name %><br>
    <%= product.brand.name %><br>
    <%= product.child_category.name %><br>
    <%= image_tag product.image_url.to_s %>
  <% end %>
</p>

<div style="border: 1px; background-color: #ddd">
<%= form_for @comment, url: { action: 'comment' } do |f| %>
  <% if user_signed_in? %>
    <%= image_tag current_user.icon.to_s %>
  <% else %>
    <a href="<%= new_user_session_path %>">ログイン(ログインしなくてもコメントできます)</a>
  <% end %>

  <%= f.text_area :content %>
  <%= f.submit 'コメントする' %>
<% end %>
</div>

<% @post.comments.each do |comment| %>
<hr>
<a><%= comment.content %></a>
<% end %>
