<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brand_id %><br>
    <%= f.collection_select :brand_id, @brands, :id, :name %> <br><br>
    <%= f.label :goods_name %><br>
    <%= f.text_field :goods_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
